@charset "utf-8";

@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_visual {
    width: 100%;
    height: 773px;
    border-bottom: 1px solid #80c49e;
    margin: 0 auto;
    position: relative;
    padding: 0 30px;
    display: flex;
    justify-content: center;
}
.main_visual .swiper {
    position: static;
    height: 100%;
    border-radius: 20px;
}
.main_visual .swiper figure {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.main_visual .swiper figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_visual .mySwiper-left1 {
    width: 381px;
    height: 378px;
    position: absolute;
    bottom: 40px;
    left: -107px;
    margin-right: 0;
}
.main_visual .mySwiper-left1 figure {
    width: 100%;
    height: 378px;
}
.main_visual .mySwiper-left1 figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.main_visual .swiper.mySwiper-left2 {
    width: 381px;
    height: 268px;
    margin-left: 300px;
    margin-right: 56px;
    margin-top: 92px;
}
.main_visual .mySwiper-left2 figure {
    width: 100%;
    height: 268px;
}
.main_visual .mySwiper-left2 figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.main_visual .mySwiper-center {
    width: 420px;
    height: 476px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 257px;
}
.main_visual .mySwiper-center figure {
    width: 100%;
    height: 476px;
}
.main_visual .mySwiper-center figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.main_visual .mySwiper-right1 {
    width: 381px;
    height: 378px;
    margin-left: 56px;
    margin-right: 300px;
    margin-top: 147px;
} 
.main_visual .mySwiper-right1 figure {
    width: 100%;
    height: 378px;
}
.main_visual .mySwiper-right1 figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.main_visual .mySwiper-right2 {
    width: 381px;
    height: 378px;
    position: absolute;
    bottom: 324px;
    right: -107px;
}
.main_visual .mySwiper-right2 figure {
    width: 100%;
    height: 378px;
}
.main_visual .mySwiper-right2 figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.main_visual .swiper_control {
    width: 439px;
    height: 40px;
    position: absolute;
    bottom: 100px;
    right: 240px;
    z-index: 99;
}
.main_visual .swiper-button-prev {
    background: url(../img/이달의맛_왼쪽_화살표.png) center center / cover no-repeat;
    width: 32px;
    height: 32px;
    left: 357px;
}
.main_visual .swiper-button-prev::after {
    display: none;
}
.main_visual .swiper-button-next {
    background: url(../img/이달의맛_오른쪽_화살표.png) center center / cover no-repeat;
    width: 32px;
    height: 32px;
}
.main_visual .swiper-button-next::after {
    display: none;
}
.main_visual .swiper-pagination-progressbar.swiper-pagination-horizontal {
    width: 256px;
    display: flex;
    top: 14.2px;
    left: 36px;
}
.main_visual .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: #5e9757;
}
.main_visual .swiper_control .count span {
    font-size: 20px;
}
.main_visual .count .current-num {
    position: absolute;

}
.main_visual .count .all-num {
    position: absolute;
    left: 307px;
}
.main_visual .visual_text {
    width: 230px;
    height: 256px;
    position: absolute;
    bottom: 50px;
    left: 347px;
}
.main_visual .visual_text p {
    font-size: 25px;
    margin-bottom: 10px;
}
.main_visual .visual_text h2 {
    font-size: 60px;
    margin-bottom: 21px;
}
.main_visual .visual_text .text_box {
    background-color: #185432;
    border-radius: 30px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.main_visual .visual_text .text_box p {
    font-size: 20px;
}